{% load static %}
<div class="sidebar pt-5">
    <button class="btn btn-warning border-2 border-danger ms-2 disabled">Админ</button>
    <div class="text-center">
        <img src="{% static 'img/profile.png' %}" class="w-50 h-50 rounded-circle mb-2">
    </div>

    <div class="list-group">
        <a href="" class="list-group-item list-group-item-action">Добавить пользователя</a>
        <a href="" class="list-group-item list-group-item-action">
            Список студентов
        </a>
        <a href="" class="list-group-item list-group-item-action">Преподаватели</a>
        <a href="" class="list-group-item list-group-item-action">Добавить курс</a>
        <a href="" class="list-group-item list-group-item-action">Курсы</a>
        <a href="" class="list-group-item list-group-item-action">Предметы</a>
        <a href="" class="list-group-item list-group-item-action">Добавить предмет</a>
        <a href="" class="list-group-item list-group-item-action">Назначить сессию</a>
        <a href="" class="list-group-item list-group-item-action d-flex justify-content-between py-0">
            <p>Сообщения</p>
            <p class="text-danger"> 14</p>
        </a>
        <a href="{% url 'notification_student' %}"
            class="list-group-item list-group-item-action d-flex justify-content-between py-0">
            <p>Увемления</p>
            <p class="text-danger"> 14</p>
        </a>
        <a href="{% url 'chat' %}" class="list-group-item list-group-item-action d-flex justify-content-between py-0">
            <p>Предстоящие события</p>
            <p class="text-danger"> 14</p>
        </a>
    </div>

    <div>
        <button type="button" class="btn btn-danger w-100">Выход</button>
    </div>
</div>